<article class='post col-sm-6 col-md-4'>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3><%= post.title %></h3>

      <% if post.picture.present? %>
      <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
      <% end %><br>

      <% unless post.price.blank? %>
        <%= link_to post_charge_path(post), class: "btn btn-primary btn-xs" do %>
          <span class="glyphicon glyphicon-shopping-cart"></span> $<%= sprintf "%.2f", post.price %>
        <% end %><br>
      <% end %>

      <% unless post.address.blank? %>
        Taken: <%= link_to post.address , post_map_path(post) %> <br>
      <% end %>

      Tags: <% post.tags.each do |tag| %>
      <%= link_to tag.text, tag %>
      <% end %>
    </div>
  </div>
</article>