<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">New Post</h4>
          </div>
          <%= form_for @new_post, html: { multipart: true } do |f| %>
            <div class="modal-body">
                <%= f.label :title %><br />
                <%= f.text_field :title %> <br />
                
                <%= f.label :tag_list, 'Tags' %> <br />
                <%= f.text_field :tag_list %> <br />
                
                <%= f.label :address, 'Location' %> <br />
                <%= f.text_field :address %> <br />
                
                <%= f.label :picture %><br />
                <%= f.file_field :picture %><br />

                <%= f.label :price %><br />
                $<%= f.text_field :price, value: '0.00' %><br />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Post <span class="glyphicon glyphicon-edit"></span></button>
            </div>
          <% end %>
        </div>
      </div>
    </div>