
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/c38fc5b/images/ico/favicon.ico">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
    <title>Instagram</title>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                  <a class="navbar-brand" href="/"> Instagram <span class="glyphicon glyphicon-heart-empty"></span></span> </a>
              </div>
        <div class="navbar-collapse collapse">

          <% if user_signed_in? %>
            <%= form_for(session, as: :user, url: destroy_user_session_path, method: :delete, html: { class: 'navbar-form navbar-right' } ) do |f| %>
              <div class="form-group"> Logged in as <%= current_user.email %></div>
              <%= link_to new_post_path, class: 'new-post btn btn-success' do %>
                New Post <span class="glyphicon glyphicon-edit"></span> 
              <% end%>
                <%= f.submit "Sign out", class: "btn btn-danger" %>
            <% end %>
          <% else %>
            <%= form_for(User.new, as: :user, url: new_user_session_path, html: { class: 'navbar-form navbar-right' } ) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
              </div>

              <%= f.submit "Sign in", class: "btn btn-success" %>
              <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div><!--/.navbar-collapse -->

      </div>
    </div>
    <main class="container">
    
      <%= yield %>

       <hr>
      <footer>
        <p>This mock Instagram app is made by Jenny Wang (<a href="http://www.github.com/thejennywang">thejennywang@git</a>), at <a href="http://www.makersacademy.com">Makers Academy</a>.</p>
      </footer>
    </main>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
