
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/c38fc5b/images/ico/favicon.ico">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    
    <title>Insta3∞px</title>
  </head>
    <%= render partial: 'layouts/navigation' %><!--/.navbar-collapse -->
  <main class="container">
    
    <%= yield %>

  </main>

  <section class="container">
    <hr>
    <footer>
      <p>Insta3∞px is made by <a href="http://www.github.com/thejennywang">Jenny Wang</a>, at <a href="http://www.makersacademy.com">Makers Academy</a>. &copy; 2014</p> 
    </footer>
  </section>
    <!-- New Post Modal -->
    <%= render partial: 'layouts/new_post_modal' %>
    <%= render partial: 'layouts/post_template' %>
    
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
